<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 id="title">Ranking Page</h1>
    <table id="rank">
        <tr id="index">
            <td>name</td>
            <td>score</td>
        </tr>
        {% for item in resultList %}
        <tr>
            <td class="name">{{item["name"]}}</td>
            <td class="score">{{item["score"]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
